# Python
*.pyc
# IntelliJ IDEA (IDE-related files)
*.iml
.idea/*
.ipynb_checkpoints/*

# Setuptools.
dist
*.egg-info

docs/_build/*

build/
*.py[cod]
node_modules/

# Compiled javascript
qgrid/static/

# OS X
.DS_Store
